@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}
/******************************** Navigation Bar ************************/
.logo {
  width: 3.25rem;
  margin-top: 2rem !important;
}

/********* MENU LINKS ***********/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important ;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.language ul {
  color: var(--primary-white) !important;
  font-size: 0.6rem;
  list-style-type: none;
  display: flex;
  margin-left: 2rem;
}
.language li {
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
